@media (min-width: 992px) {
  #home-carousel .carousel-item {
    height: 540px; }
  #home-carousel .carousel-caption > h5 {
    font-size: 2rem; }
  #home-carousel .carousel-caption > p {
    font-size: 1.25rem; } }
